server/server/.vs
client/.vscode
server/server/server/bin
server/server/server/obj
server/server/server/appsettings.json
server/server/server.Domain/bin
server/server/server.Domain/obj
server/server/server.Infrastructure/bin
server/server/server.Service/bin
server/server/service.Tests.Unit/obj
server/server/service.Tests.Unit/bin
server/server/server.Service/obj
server/server/server.Infrastructure/obj
server/server/server.Infrastructure/Migrations
server/.vs
server/server/bin
server/server/obj
server/server.Domain/bin
server/server.Domain/obj
server/server.Infrastructure/bin
server/server.Infrastructure/Migrations
server/server.Infrastructure/obj
server/server.Service/bin
server/server.Service/obj
server/service.Tests.Unit/bin
server/service.Tests.Unit/obj
server/server/appsettings.json
server/server.Api/bin
server/server.Api/obj
server/server.Api/appsettings.json
server/server.Application/bin
server/server.Application/obj
server/src/.vs
server/src/Pkm.Api/.vs
server/src/Pkm.Api/bin
server/src/Pkm.Api/obj/Release/net8.0
server/src/Pkm.Api/obj
server/src/Pkm.Api/appsettings.json
server/src/Pkm.Api/appsettings.Development.json
server/src/Pkm.Application/bin
server/src/Pkm.Application/obj
server/src/Pkm.Domain/bin
server/src/Pkm.Domain/obj
server/src/Pkm.Infrastructure/bin
server/src/Pkm.Infrastructure/obj
server/src/Pkm.Infrastructure/Migrations
